<div class="container-fluid">
  <div *ngFor="let contact of contacts" class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <a *ngIf="contact.smallImageURL != null || contact.smallImageURL != ''" href="" onclick="contactDetail(contact)">
          <img class="img-responsive img-rounded" id="imageList"
               src="{{contact.smallImageURL}}"
               onError="this.src='assets/images/userLarge/User_Large.png'">
       </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <h4><span class="glyphicon" [ngClass]="{ 'glyphicon-star-empty': !contact.isFavorite, 'glyphicon-star' : contact.isFavorite }">{{contact.name}}</span></h4>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <span *ngIf="contact.companyName != null || contact.companyName != ''">{{contact?.companyName}}</span>
    </div>

  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
      Picture
    </div>
    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
      <div class="row">Row1</div>
      <div class="row">Row2</div>
    </div>
  </div>
</div>